* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #000000;
    padding: 0 10px;
}

.container {
    max-width: 500px;
    width: 100%;
    background: #ffffff;
    background-size: cover;
    background-position: center;
    margin: 20px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0,0,0,0.8);
}

.container .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 25px;
    color: black;
    text-transform: uppercase;
    text-align: center;
}

.container .form textarea {
    width: 100%;       
    height: 100px;    
    padding: 8px;      
    box-sizing: border-box; 
    resize: vertical; 
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.container .form .btn {
    width: 100%;
    padding: 10px;
    background: #0056b3;
    color: white;
    border: none;
    margin: 10px auto 0;
    display: block;      
    cursor: pointer;
}

.container .form .btn:hover {
    background: #240046;
}

.container .result {
    text-align: center;
    font-weight: bold;
    margin-top: 15px;
    font-size: 25px;
}